body {
    text-align: center;
    background-color: #546bab;
}
.img {
    width: 500px;
}
h1 {
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h4{
    color: #9aa6af;
}
a {
    font-size: 20px;
    color: #9aa6af;
}